body {
    font-family: $font-family-body;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-size: $font-size-base;
    line-height: $line-height-base;
    color: $body-text;
    font-weight: $font-weight-base;
}

a {
    color: $link-color;
    text-decoration: $link-decoration;
    cursor: pointer;
    &:hover {
      color: $link-hover-color;
    }
  }