.multiple {
  .multiselect {
    &__tags-wrap{
      display: block;
      line-height: 1;
    }
    &__tag {
      background: $form-primary;
      font-size: 0.875rem;
      margin-right: 0.5rem;
      margin-top: 2px;
      &-icon {
        &:hover {
            background: mix(#000, $form-primary, 10%);
        }
        &:after {
            color: $light;
        }
      }
    }
  }
}
.single {
  .multiselect {
    &--disabled {
      .multiselect__select {
        background: transparent !important;
      }
    }
    &__single{
      padding-left: 0;
       margin-bottom: 0;
       line-height: 1.5;
    }
  }
}
.multiselect {
  font-size: 1rem;
  &__tags {
    padding: 0.375rem 40px 0 0.75rem;
    font-size: 1rem;
    border-color: $form-border-color;
    border-radius: $form-border-radius;
  }
  &__placeholder{
    margin:0;
    padding:0;
    color:$grey;
  }
    &__content-wrapper {
    min-height: auto;
  }
  &__option{
    background: none;
    color: $form-text;
    display: flex;
    align-items: center;
    &:hover {
      background-color: $light;
      color:$dark;
    }
    .avatar{
      margin-right: 0.5rem;
    }
    .description {
      display: inline-block;
      .title {
        font-size: 14px;
        font-weight: $font-weight-medium;
        color: $form-text;
      }
      small {
        font-size: 12px;
        color:$grey;
      }
    }
    &--selected.multiselect__option--highlight {
      height: 100%;
      color: $form-primary;
      background: none;
    }
  }
}
