/* Brand Colours
------------------------------------
*/

$brand-primary: #0B58D4 !default;
$brand-secondary: #0062FF !default;
$brand-tertiary: #FFC542 !default;
$brand-primary-light: mix($brand-primary, #fff, 10%);
$brand-primary-dark: mix($brand-primary, #000, 10%);
$body-background: #F2F7FF !default;
$body-text:#696974 !default;
$body-silent-text: #E2E2EA;

/* General Colours
------------------------------------
*/
$white: #fff !default;
$black: #000 !default;
$blue: #56AAFF !default;
$indigo: #6610f2 !default;
$purple: #D96DEF !default;
$pink: #e83e8c !default;
$red: #EF4242 !default;
$orange: #F5A623 !default;
$yellow: #FFD655 !default;
$green: #1FD0A3 !default;
$teal: #20c997 !default;
$cyan: #17a2b8 !default;
$navy: #1b1297 !default;
$sky: #48b0f7 !default;
$grey: #B5B5BE !default;

/* Alerts
------------------------------------
*/
$success: $green !default;
$warning: $orange !default;
$link: $blue !default;
$error: $red !default;
$danger:$red!default;
$info: $blue !default;

/* Greys
------------------------------------
*/

$dark: #171725 !default;
$dark-grey: #696974 !default;
$grey: #B5B5BE !default;
$light-grey: #E2E2EA !default;
$light: #F0F0F5 !default;
$line-color: $light-grey !default;

/* Typography
------------------------------------
*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap');
$font-family-body: 'Inter',
sans-serif !default;
$font-weight-light: 300 !default;
$font-weight-regular: 400 !default;
$font-weight-medium: 500 !default;
$font-weight-bold: 700 !default;
$font-size-base: 1rem !default;
$font-weight-base: $font-weight-regular !default;
$line-height-base: 1.5 !default;
$small-font-size: 80% !default;


/* Default Styles
------------------------------------
*/
$border-radius: 4px !default;
$default-content-padding: 16px;
$border-width: 1px !default;
$box-shadow:0 0 6px 0 rgba(0, 0, 0, .2) !default;


/* Link Style
------------------------------------
*/
$link-color: $brand-primary !default;
$link-decoration: none !default;
$link-hover-color: darken($link-color, 15%) !default;


/* Form Styles
------------------------------------
*/

$form-border-radius:10px !default;
$form-border-width:$border-width !default;
$form-bg:$white !default;
$form-text: $dark-grey !default;
$form-border-color: $line-color !default;
$form-primary: $brand-primary;
$form-active: $brand-primary;
$form-error: $error;
$form-success: $success;

