.flatpickr-calendar {
	width: 330px;
	padding: 8px;
	margin-top: 16px;
	border-radius: 10px;
	.flatpickr-months {
		.flatpickr-prev-month {
			right: 56px !important;
			left: auto;
		}
		.flatpickr-next-month {
			right: 8px;
		}
		.flatpickr-next-month,
		.flatpickr-prev-month {
			border-radius: 50%;
			box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);
			top: 8px;
			svg {
				display: block;
				margin: 0 auto;
			}
		}
		.numInputWrapper {
			margin-left: 8px;
		}
		.flatpickr-current-month {
			left: 3.5%;
			.cur-month {
				color: $form-primary;
			}
		}
	}
	.flatpickr-rContainer {
		padding: 4px;
		.flatpickr-weekdays {
			margin-top: 8px;
		}
		.flatpickr-day {
			line-height: 34px;
			height: 36px;
			border-radius: 6px;
			background-color: $form-light-grey;
			margin: 2px 2px 16px;
			color: $form-dirty-white;
			&.selected {
				background-color: $form-primary;
				color: $form-dirty-white;
				border: none;
			}
			&.today {
				border: none;
			}
			&:hover {
				background-color: $form-primary !important;
				color: $form-dirty-white !important;
			}
			&.flatpickr-disabled {
				background: none !important;
				color: $form-light-grey;
			}
			&.nextMonthDay,
			&.prevMonthDay {
				visibility: hidden !important;
				width: 0;
				height: 0;
				margin-bottom: 0;
			}
		}
	}
	.shimmer-item {
		min-height: 330px;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		border-radius: 10px;
		.animated-background {
			animation-duration: 1s;
			animation-fill-mode: forwards;
			animation-iteration-count: infinite;
			animation-name: placeHolderShimmer;
			animation-timing-function: linear;
			background: #f6f7f8;
			background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
			background-size: 800px 104px;
			height: 100%;
			position: relative;
			border-radius: 10px;
			z-index: 100;
			&.calendar-box {
				height: 38px;
				width: 40px;
				margin: 4px 2px;
				border-radius: 10px;
				display: inline-block;
			}
			&.calendar-box-title {
				height: 30px;
				width: 170px;
				border-radius: 0;
				text-align: center;
				margin-top: 16px;
				margin-bottom: 32px;
				margin-left: 40px;
			}
		}
	}
}

@keyframes placeHolderShimmer {
	0% {
		background-position: -468px 0;
	}
	100% {
		background-position: 468px 0;
	}
}

