.vue-tel-input {
  padding: 0 !important;
  .vti {
    &__dropdown {
      &:hover {
        background-color: transparent !important;
      }
    }
    &__input {
      background-color: $form-lighter-grey;
    }
  }
}
