$form-lighter-grey: rgba(100, 100, 100, 0.1);
$form-light-grey: rgba(100, 100, 100, 0.5);
$form-white: #fff;
$form-dirty-white: f5f5f5;
$form-primary: #e21212;
$form-error: #f55753;
$form-border-color: #e0e7ff;
$form-body-text: #5F5F5F;
